body{
    background-color: #5C6D70;
    display: grid;
    grid-template-areas: 
    "header header"
    "photo content"
    "contact content"
    "section section"
    "footer footer";
    grid-template-columns: 2fr 2fr ;
    grid-template-rows: 70px 300px auto;
    gap: 10px;
    margin: 0;
}
header{
    grid-area: header;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0ac9d;
    color: #faf2f0;
    padding-left: 20px;
    font-size: large;
        .header-links{
            display: flex;
            gap: 20px;
            padding-right: 15px;
        }
        .header-links a{
            text-decoration: none;
            color: #faf2f0;   
        }
}
img{
    grid-area: photo;
}
section{
    box-shadow: 2px 2px 20px 5px #374143;
    padding: 20px;
    color: #faf2f0;
    background-color: #49575A;
    margin: 10px;
}
#section1{
    grid-area: content;
    font-size: large;  
    line-height: 30px; 
}
#section2{
    line-height: 30px;
    font-size: large;
    .contact-link{
        color: #e0ac9d;
        list-style: none;
        display: flex;
        gap: 30px;
    }
    .contact-link a{
        color: #e0ac9d;
    }
}

#section3{
    grid-area: section;
        .project1{
            display: grid;
            grid-template-areas: 
            "title title"
            "article photo"
            "link photo";
            padding: 20px;   
        }
        .title1{
            grid-area: title;
            text-decoration: underline;
            font-size: larger;
        }
        .info1{
            padding: 15px;
            font-size: large;
        }
        .project1 a{
                color: #faf2f0;
                grid-area: link;
                text-decoration: none;
            }
        .project1 button{
            width: fit-content;
            height: 40px;
            border-radius: 9px;
            margin: auto;
            background-color: #e0ac9d;
            border-color: #404c4f;
            cursor: pointer;
            hover: #D89783;
        }
        .project1 button:hover{
            background-color: #D89783;
        }
            .project2{
                display: grid;
                grid-template-areas: 
                "title title"
                "article photo"
                "link photo";
                padding: 20px;  
            }
            .title2{
                grid-area: title;
                text-decoration: underline;
                font-size: larger;
            }
            .info2{
                padding: 15px;
                font-size: large;
            }
            .project2 a{
                color: #faf2f0;
                grid-area: link;
                text-decoration: none;
            }
            .project2 button{
                width: fit-content;
                height: 40px;
                border-radius: 9px;
                margin: auto;
                background-color: #e0ac9d;
                border-color: #404c4f;
                cursor: pointer;
                hover: #D89783;
            }
            .project2 button:hover{
                background-color: #D89783;
            }
            .project3{
                display: grid;
                grid-template-areas: 
                "title title"
                "article photo"
                "link photo";
                padding: 20px;  
            }
            .title3{
                grid-area: title;
                text-decoration: underline;
                font-size: larger;
            }
            .info3{
                padding: 15px;
                font-size: large;
            }
            .project3 a{
                color: #faf2f0;
                grid-area: link;
                text-decoration: none;
            }
            .project3 button{
                width: fit-content;
                height: 40px;
                border-radius: 9px;
                margin: auto;
                background-color: #e0ac9d;
                border-color: #404c4f;
                cursor: pointer;
                hover: #D89783;
            }
            .project3 button:hover{
                background-color: #D89783;
            }
}



footer{
    grid-area: footer;
    text-align: right;
    padding: 20px;
    background-color: #e0ac9d;
    color: #faf2f0;
}